*.iml
.gradle
/local.properties
ORDERIZE_BASE_URL=http://34.193.137.219:80/api/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ORDERIZE_BASE_URL=http://34.193.137.219:80/api/
/key/
/app/release/
/app/debug/
/.kotlin/


